<div class="mt-auto text-center">
    <div class="container justify-content-center">
        <div class="container">
            <div class="col justify-content-md-center">
                <div class="col-md-12">
                    <img src="{{ site.author.logo }}">
                </div>
                <div class="col-md-12">
                    <p><a href="mailto:{{ site.author.email }}" class="btn">{{ site.author.email }}</a></p>
                </div>
            </div>
        </div>
        <!-- <br> -->
    </div>
    <!-- <br> -->
    <!-- <p class="text-muted wow animated slideInUp" data-wow-delay=".15s">{{ site.description }}</p> -->


    <!-- <div class="col-md-4">
        <iframe width="745" height="420" src="https://www.youtube.com/embed/kmP8I5XiRuk?vq=hd720?rel=0&autoplay=0"
            frameborder="0" allowfullscreen></iframe>
        <tr>
            <p style="font-size:45px; text-align: center; font-family: 'Raleway', sans-serif;">T.H.I.S.</p>
        </tr>
        </table>
        </td>
        </a>
    </div> -->

    <!-- <div class="container">
        <br>
        <div class="row justify-content-md-center">
            <div class="col-md-3">
                <a href="{{ site.Games.THIS-Win }}" target="blank"><img style="width: 85%;"
                        src="{{ site.images.winStore }}"></a>
            </div>
            <div class="col-md-3">
                <a href="{{ site.Games.THIS-Android }}" target="blank"><img src="{{ site.images.playStore }}"></a>
            </div>
        </div>
        <br>
        <br>
    </div> -->



    <!-- {% assign pages = site.html_pages | sort: 'weight' %}
    {% for site_page in pages %}
    {% if site_page.title %}
    {% unless site_page.url contains 'page' or site_page.url contains 'tags' %}
    <a class="btn"
        href="{% if site_page.external_url %} {{ site_page.external_url }} {% else %} {{ site_page.url | relative_url }} {% endif %}">{{ site_page.title }}</a>
    {% endunless %}
    {% endif %}
    {% endfor %} -->
</div>