<div class="text-center">

    <div class="youtubeVideo">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item"
                src="https://www.youtube.com/embed/kmP8I5XiRuk?vq=hd720?rel=0&autoplay=0" allowfullscreen></iframe>
        </div>
        <tr>
            <p style="font-size:2.5rem;">T.H.I.S.</p>
        </tr>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-3">
            <a href="{{site.Games.THIS-Win}}" target="blank"><img src="{{site.images.winStore}}" style="max-width: 80%;"></a>
        </div>
        <div class="col-md-3">
            <a href="{{site.Games.THIS-Android}}" target="blank"><img src="{{site.images.playStore}}" style="max-height: 95%;"></a>
        </div>
    </div>
    <br>
    <br>
    <div class="contianer">
        <a href="../privacy-policy" class="btn">privacy policy</a>
    </div>
</div>
