<div class="text-center">

    <h1 class="headLineColor">
        Privacy Policy
    </h1>
    {% for item in site.data.policies %}
    <br>

    <div class="desc" style="text-align: left;">
        <h4 class="headLineColor">
            {{item.title}}
        </h4>
        {% for subItem in item.descriptions %}
        <p>
            {{subItem.description}}
        </p>
        {%if subItem.link %}
        <a href="{{subItem.link}}" class="btn" target="blank" style="font-size: inherit;">{{subItem.link}}</a>
        {%endif%}
        {%if subItem.email%}
        <a href="mailto:{{site.author.email}}" class="btn" style="font-size: inherit;">{{site.author.email}}</a>
        {%endif%}
        {% endfor %}
    </div>
    {% endfor %}
</div>